<h1> Add Something: </h1>

<form method='POST' action='/something/new'>

  Some Title: <input type="text" name="some_title">
  Some Content: <input type="text" name="some_content">


  <button type="submit" value="submit">submit</button>
</form>
