<!-- <p>Something: <%= @something.some_title %> </p>

<form method="post" action="/something/<%=@something.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Something">
</form> -->
