<h1>Please Log In!</h1>

<% unless locals.empty? %>
<%= message %>
<% end %>

<br></br>

<form method="POST" action="/login">

  Username: <input type="text" name="username">
  Password: <input type="password" name="password">

  <button type="submit" value="submit" class="btn btn-default">log in</button>
  <br></br>
  Or <a href="/signup">sign up</a> if you are a new user.
</form>
