<h1> Please Sign Up! </h1>

<% unless locals.empty? %>
<%= message %>
<% end %>

<br></br>

<form method="POST" action="/signup">

  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">

  <button type="submit" value="submit">sign up</button>

</form>

<br>

Or <a href="/login">log in</a> if you are an existing user.
</form>
