<h1> Edit Nothing: </h1>

<form method="post" action="/nothing/<%=@nothing.id%>/edit">

  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="no_title" value="<%= @nothing.no_title %>">
  <input type="submit" value="Click Here">
</form>
