<h1> Create Nothing: </h1>

<form method='POST' action='/nothings/new'>

  No Title: <input type="text" name="no_title">
  No Content: <input type="text" name="no_content">


  <button type="submit" value="submit">submit</button>
</form>
